pre {
  background-color: rgb(19, 64, 83);
  color: white;
  padding: 12px;

  > code {
    line-height: 1.5;
  }
}

code {
  background-color: rgb(19, 64, 83);
  color: white;
  padding: 2px;
}

hr {
  border-top: 1px solid rgba(149, 149, 149, 40%);
  border-bottom: none;
  margin-block: {
    start: 2em;
    end: 2em
  }
}
