:where(code):not(pre code) {
  color: #e0e0e0;
  background: #2C3E50;
  padding: 4px;
}

pre {
  color: #e0e0e0;
  background: #2C3E50;
  padding: 12px;
  overflow: scroll;

  code {
    line-height: 1.5;

    span[class*='hljs-'] {
      white-space: nowrap;
    }
  }
}

hr {
  border-top: 1px solid rgba(149, 149, 149, 40%);
  border-bottom: none;
  margin-block: {
    start: 2em;
    end: 2em
  }
}

blockquote {
  background: #EEE;
  border-left: 4px solid gray;
  margin-inline: {
    start: 1em;
    end: 1em;
  }

  > * {
    padding: 0.5em;
  }
}
