@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

a {
  color: black;

  > h1 {
    @at-root a {
      text-decoration: none;
    }
  }
}
